# Arquivos do Python
__pycache__/
*.py[cod]

# Banco de dados e logs
*.sqlite3
*.log

# Ambientes virtuais
env/
venv/
.venv/

# Configurações de IDEs e Editores
.vscode/
.idea/

# Arquivos de variáveis de ambiente
.env